{% load static %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>666</title>
    <link rel="stylesheet" href = "{% static 'bootstrap-3.4.1/dist/css/bootstrap.min.css' %}">
    <style>
        .login-box {
            width: 400px;
            height: 280px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #dddddd;
            margin-top: 220px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .login-box h2{
            text-align: center;
        }
    </style>
</head>
<body>

<div class="login-box">
    <h2>用户登录</h2>
    <form method="POST" action="/index/">
        <div class="form-group">
            <label>用户名</label>
            <input type="text" class="form-control" id="请输入用户名" placeholder="text" name="user_name">
        </div>
        <div class="form-group">
            <label>密码</label>
            <input type="password" class="form-control" id="请输入密码" placeholder="Password" name="pwd">
        </div>
        <button type="submit" class="btn btn-primary">提 交</button>
        <span style="color: red;">{{ error }} </span>
    </form>
</div>

</body>
</html>